# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.yoloway-treedev-herma-machine.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Projects\yoloway-treedev-herma-machine\.idea\.idea.yoloway-treedev-herma-machine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
